.art-header {
    background-image: url(../img/ia-header.jpg);
    background-size: cover;
    background-position: center top 27%;
}


.row-art {
    display: flex;
    flex-flow: row wrap;
}


.column-art {
    display: flex;
    flex-flow: column wrap;
    text-align: justify;
    padding: 0 5vmax;


    .titulo-art {
        @include articulo-h1;
    }

    .subtit-art {
        @include articulo-subtit;
    }

    .parrafo-art {
        @include articulo-parrafo;
    }
 
    .foto-art {
        width: 45vmax;
        margin-bottom: 2.5vmax;
        border-radius: 2vmax;
        align-self: center;
    }

}


.column-ia {
    padding: 0 3vmax;


    h2 {
        @include articulo-h1;
        text-align: center;
    }


        
    .bloque-ia {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: justify;
        background-color: rgb(226, 226, 177);

        img{
            width:15vmax ;
            margin-bottom: 1vmax;
        }

        a {
            @include botones;
            font-size: 1.5vmax;
            margin-bottom: 1vmax;

            &:hover {
                color: $colorBlanco;
                background-color: $colorCuatro;
            }
        }

        p {
            font-family: $font-parrafo;
            font-size: 1vmax;
            margin-bottom: 1vmax;
            padding: 0 1.5vmax;
        }


    }

}
