.main-robotica {
    background-image: url(../../img/prueba1.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vmax;
    
}



.robotica-col {
    width: 60%;
    background: transparent;
    backdrop-filter: blur(5px);
    margin: 5vmax;
    border: 1px solid rgba(65, 57, 57, 0.644);
    border-radius: 2vmax;

    h1 {
        @include title-h1(6vmax);
        padding-left: 3vmax;
        padding-top: 1.5vmax;
    }

}


.row-roboto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    padding-top: 5vmax;
    margin-right: 5vmax;
    padding-left: 3vmax;
    
     

    .rob-1 {
        width: 18vmax;
        height: 18vmax;
        background-image: url(../../img/robotoTres.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 3vmax;
        box-shadow: 1px 1px 1px rgb(0, 0, 0);
        margin-right: 5vmax;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: end;

        a {
            @include botones;
            font-size: 1vmax;
            margin-bottom: 1vmax;

            &:hover {
                color: $colorBlanco;
                background-color: rgba(0, 0, 0, 0.527);
                padding: 3vmax 3.3vmax;
                border-radius: 0 0 3vmax 3vmax;
                font-size: 1.5vmax;
                text-shadow: 1px 1px 1px black;
                margin-bottom: 0;
            }
        }
    }

    .rob-2 {
        width: 18vmax;
        height: 18vmax;
        background-image: url(../../img/robotoUno.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 3vmax;
        box-shadow: 1px 1px 1px rgb(0, 0, 0);
        margin-right: 5vmax;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: end;

        a {
            @include botones;
            font-size: 1vmax;
            margin-bottom: 1vmax;

            &:hover {
                color: $colorBlanco;
                background-color: rgba(0, 0, 0, 0.527);
                padding: 3vmax 6.3vmax;
                border-radius: 0 0 3vmax 3vmax;
                font-size: 1.5vmax;
                text-shadow: 1px 1px 1px black;
                margin-bottom: 0;
            }
        }
    }

    .rob-3 {
        width: 18vmax;
        height: 18vmax;
        background-image: url(../../img/robotoDos.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 3vmax;
        box-shadow: 1px 1px 1px rgb(0, 0, 0);
        margin-right: 5vmax;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: end;

        a {
            @include botones;
            font-size: 1vmax;
            margin-bottom: 1vmax;

            &:hover {
                color: $colorBlanco;
                background-color: rgba(0, 0, 0, 0.527);
                padding: 3vmax 6.7vmax;
                border-radius: 0 0 3vmax 3vmax;
                font-size: 1.5vmax;
                text-shadow: 1px 1px 1px black;
                margin-bottom: 0;
            }
        }
    }

    .rob-4 {
        width: 18vmax;
        height: 18vmax;
        background-image: url(../../img/robotoCuatro.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 3vmax;
        box-shadow: 1px 1px 1px rgb(0, 0, 0);
        margin-right: 5vmax;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: end;

        a {
            @include botones;
            font-size: 1vmax;
            margin-bottom: 1vmax;

            &:hover {
                color: $colorBlanco;
                background-color: rgba(0, 0, 0, 0.527);
                padding: 3vmax 5.1vmax;
                border-radius: 0 0 3vmax 3vmax;
                font-size: 1.5vmax;
                text-shadow: 1px 1px 1px black;
                margin-bottom: 0;
            }
        }
    }
}

.row-roboto-dos {
    padding-bottom: 3vmax;
}