
/* estructura MEDIAS-QUERIES  referencia en Breackpoints de Bootstrap */
/* 
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px */


    /* media - querie  --  xxl - */
    /* media - querie  --  xxl - */
    /* media - querie  --  xxl - */
    @media only screen and (min-width: 1201px) {

    }

    /* media - querie  --  xl - */
    /* media - querie  --  xl - */
    /* media - querie  --  xl - */
    @media only screen and (max-width: 1200px) {


    }
    



    /* media - querie  --  lg - */
    /* media - querie  --  lg - */
    /* media - querie  --  lg - */
    @media only screen and (max-width: 992px) {

        /* navegador */
        .titulo-nav {
            font-size: 2.8vmax;
        }

        /* header */

        .row-header {

            div{
                h1{
                    font-size: 4vmax;
                    padding-bottom: 0.5vmax;
                }

                h2 {
                    font-size: 2vmax;
                    padding-bottom: 0.5vmax;
                }

                a {
                    font-size: 1.5vmax;
                    padding: 0.2vmax 2vmax;
                }

            }

        }

        /* cards */

        .contenedor-cards {
            display: flex;
            flex-flow: row wrap;
        }
        
        .card {
            width: 30vmax;
            margin: 1.5vmax 1vmax;
        }

        
        .card-body {

            .card-title {
                font-size: 1.5vmax;
            }

            .card-text {
                font-size: 1.2vmax;
            }

            a {
                font-size: 1.2vmax;
            }
        }

    }






    /* media - querie  --  md - */
    /* media - querie  --  md - */
    /* media - querie  --  md - */
    @media only screen and (max-width: 768px) {

        /* navegador */

        .navbar-brand {
            i {
                font-size: 2vmax;
                font-weight: bold;
            }
        }
        .titulo-nav {
            font-size: 2.7vmax;
        }

        /* header */

        .row-header {

            div{
                h1{
                    font-size: 6vmax;
                    padding-bottom: 0.5vmax;
                }

                h2 {
                    font-size: 2vmax;
                    padding-bottom: 0.5vmax;
                }

                a {
                    font-size: 1.5vmax;
                    padding: 0.2vmax 2vmax;
                }

            }

        }

        /* article */

        .article-titulo {
            h2 {
                text-align: center;
            }
    
            p {
                display: none;
            }
        }

        .row-article {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        .div-img-noticia {
            justify-content: center;
        }

        .div-img-noticia-dos {
            justify-content: center;
        }

        .foto-noticia {
            width: 30vmax;
            padding-bottom: 4vmax;    
        }

        .noticia {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10%;
        }

        .noticia-dos {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10%;
        }
 
        .rotacion {
            flex-direction: column-reverse;
        }
           
        .noticia {
        
            h3 {
                @include titulos-h3 (2.5vmax);
            }

            p {
                @include parrafo (1.8vmax);
            }

            a {
                font-size: 1.5vmax;
            }
        }

        .noticia-dos {
        
            h3 {
                @include titulos-h3 (2.5vmax);
            }

            p {
                @include parrafo (1.8vmax);
            }

            a {
                font-size: 1.5vmax;
            }
        }

        /* cards */

        .card {
            width: 35vmax;
            margin: 1.5vmax auto;
        }

                
        .card-body {

            .card-title {
                font-size: 2vmax;
            }

            .card-text {
                font-size: 1.5vmax;
            }

            a {
                font-size: 1.5vmax;
            }
        }

        /* separador uno */
        
        .separador-uno {

            p {
                font-size: 2.5vmax;
            }
        }


        /* footer */

        footer {
            display: flex;
            flex-flow: column wrap !important;
            
            
        }

        .row-footer {
            width: 85% auto;
            display: flex;
            flex-flow: row wrap;
            gap: 5vmax;    
        }

        .footer-contacto {
            margin-right: 10vmax;
            padding-left: 0 !important;
        

            h3 {
                font-size: 2.8vmax;
            }

            .div-contacto {
                i {font-size: 2.1vmax;}
                p {font-size: 2.1vmax;}
            }

            
        }

        .footer-links {
            display: none !important;
        }

        .mail-footer {
            font-size: 2.1vmax;
        }

        


        /* robotica - targetas roboto */

        
        .robotica-col {

            margin: 5vmax;

            h1 {
                @include title-h1(4vmax);
                padding-left: 3vmax;
                padding-top: 1.5vmax;
            }

        }

        /* pagina ciberseguridad */
        
        .ciber-container {
            height: 110vmax;
            background-position: left 47% center;
        }

        .ciber-col {

            width: 80%;

            p {
                font-size: 1.8vmax;
            }
        }

    
    }







    /* media - querie  --  sm - */
    /* media - querie  --  sm - */
    /* media - querie  --  sm - */

    @media only screen and (max-width: 576px) {

        /* header */
        .row-header {

            div{
                h1{
                    font-size: 5vmax;
                    padding-bottom: 0.5vmax;
                }

                h2 {
                    font-size: 1.8vmax;
                    padding-bottom: 0.5vmax;
                }

                a {
                    font-size: 1.3vmax;
                    padding: 0.2vmax 2vmax;
                }

            }

        }

        /* article */
        .row-article {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        .div-img-noticia {
            justify-content: center;
        }

        .div-img-noticia-dos {
            justify-content: center;
        }

        .foto-noticia {
            width: 30vmax;
            padding-bottom: 4vmax;    
        }

        .noticia {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10%;
        }

        .noticia-dos {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 10%;
        }

        .rotacion {
            flex-direction: column-reverse;
        }

        /* cards */
        .card {
            width: 40vmax;
            margin: 1.5vmax auto;
        }

        .card-body {

            .card-title {
                font-size: 3vmax;
            }

            .card-text {
                font-size: 2.5vmax;
            }

            a {
                font-size: 2.5vmax;
            }
        }

        /* separador uno */

        .separador-uno {

            p {
                font-size: 2.5vmax;
            }
        }


        /* footer */
        footer {
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            height: 70vmax;
             
        }

        .row-footer {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

            .foot-caja {
                align-items: center;
                margin-top: 1.5vmax;
            }

        }

        .footer-contacto {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            padding: 0;

            h3 {
                font-size: 2.5vmax;
            
            }
        
            .div-contacto {
                i {font-size: 2vmax;}
                p {font-size: 2vmax;}
            }
        
            a {
                font-size: 2vmax;
  
            }
        }

        .redes-sociales {
            
            a {
                font-size: 2.5vmax;
            }
        }
     
        .mail-footer {
            font-size: 2vmax;
        }


        /* ROBOTICA.HTML */

        .main-robotica {
            background-position: right 10% center;
        }


        .robotica-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .robotica-col {
            width: 90%;
        }


        /* media - querie  --  sm - */
        /*  @media only screen and (max-width: 576px) {     */

        /* pag - inteligencia artificial */   

        
        .column-art {

            .parrafo-art {
                font-size: 2vmax; 
            }

            .foto-art {
                width: 27vmax;
            }
        }

        .column-ia {

            .bloque-ia {

                img {
                    width: 20vmax;
                    padding-top: 2vmax;
                }

                a {
                    font-size: 2.5vmax;
                }

                p {
                    font-size: 2vmax;
                    padding: 1vmax 3vmax;
                }

            }
        }

         /* pagina ciberseguridad */
        
         /* pagina ciberseguridad */
        
        .black-row-separador {
            height: 14vmax;
        }

        .black-titulo-separador {
           
            h1 {
                text-align: center;

            }
        }
        
        .ciber-container {
            height: 240vmax;
            background-position: left 30% center;
        }

        .ciber-col {

            width: 80%;

            h2 {
                font-size: 3vmax;
            }

            p {
                font-size: 2.6vmax;
            }
        }   
        
        
    }







    /* media - querie  --  xs - */
    /* media - querie  --  xs - */
    /* media - querie  --  xs - */
    @media only screen and (max-width: 400px) {

        /* cards */
        
        /* cards */
        .card {
            width: 40vmax;
            margin: 1.5vmax auto;
        }

        /* footer */

        
        .redes-sociales {
            
            a {
                font-size: 2.5vmax;
            }
        }

        .copyright {
            font-size: 1.5vmax;
            
        }
        
        .robotica-col {
            width: 90%;
        }


        /* media - querie  --  xs - */
        /*  @media only screen and (max-width: 400px) {     */

         
        .ciber-container {
            height: 250vmax;
        }
         
        .ciber-col {

            width: 80%;

            h2 {
                font-size: 2.6vmax;
            }

            p {
                font-size: 2.2vmax;
            }
        } 
    }